@import "../Imports/general";

.home
{
    background-color: $gray;
    height: 130vh;
    width: 100vw;
    position: relative;
    
}
.details
{
    line-height: 55px;
    .details__h2
    {
        color: $red;        
        font-size: 45px;
    }
    
    .details__h1
    {
        color: $black;
        font-weight: 900;
        font-size: 50px;
    }

}

.details--location
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 100px;
    padding-bottom: 350px;

}
