@import "../Imports/general";

.home
{
    background-color: $gray;
    height: 150vh;
    width: 100vw;
    position: relative;
    
}

.navbar
{
    width: 100%;
    height: auto;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // margin-top:280px;
    margin-top:50px;
    transition: 0.1s all ease-out;

    img
    {
        height: 100px;
        margin: auto 0 auto 100px;
        cursor: pointer;
    }

    .navbar-menu
    {
        width:35%;
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-around;
        margin: auto 100px auto auto;
        cursor: pointer;

        .navbar-a
        {
            position: relative;
            text-decoration: none;
            color: $red;
            font-size: 20px;
            letter-spacing: 0.5px;
            padding: 0 10px;
        }

        .navbar-a:after
        {
            content: "";
            position: absolute;
            background-color: $red;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -7px;
            transition: 0.3s;
        }
        .navbar-a:hover
        {
            color: $black;
        }

        .navbar-a:hover:after
        {
            width: 100%;
        }
    }
}

.details
{
    line-height: 55px;
    .details__h2
    {
        color: $red;        
        font-size: 45px;
    }
    
    .details__h1
    {
        color: $black;
        font-weight: 900;
        font-size: 50px;
    }

    .details__span {
        display: inline-block;
        margin-left: 3px;
        width: 4px;
        background-color: $black;
        animation: cursorBlink 1s infinite;
    }

    .details__span.typing{
        animation: none;
    }
}

@keyframes cursorBlink {
    49%{ background-color: $black; }
    50%{ background-color: transparent; }
    99%{ background-color: transparent; }
}




.details--location
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 100px;
    padding-bottom: 600px;

 }

// .button-contact
// {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     text-align: center;
//     margin-bottom: 285px;

//     a
//     {
//         margin: auto;
//         background-color: $red;
//         padding: 15px 35px 15px 35px;
//         font-size: 25px;
//         color: white;
//         border-radius: 30px;
//         text-decoration: none;
//     }

//     :hover
//     {
//         background-color: $black;
//     }
// }