@import "../Imports/general";

.project
{
    background-color: $gray;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;

    &:before, &:after
    {
      content: '';
      background: inherit;
      display: block;
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform: skewY(5deg);
      transform-origin: 100% 0;
    }
    
    .nav__project-me
    {
        padding-bottom: 70px;
        padding-left: 100px; 
        
        .lbl__project-me
        {
            
            font-size: 50px;
            font-weight: 800;
            color: $black;
            border-bottom: 5px solid  $red;

        }
    }

}

.project__content
{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;

    .project-system__details
    {
        float: left;
        width: 50%;
        padding: 0 30px 0 30px;
        text-align: center;
        transition: 1s ease-in-out;

        .header-tag__title
        {
            font-size: 45px;
            padding-bottom: 50px;
            padding-top: 20px;
            transition: 1s ease-in-out;
        }

        .header-tag__details
        {
            font-size: 25px;
            text-align: justify;
            height: 370px;
            padding: 0 120px 0 120px ;
            text-indent: 2em;
            transition: 1s ease-in-out;
        }

        .project--listButton
        {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .btn-Project--viewDetails
            {
                margin: 5px;
                background-color: $red;
                padding: 10px 35px 10px 35px;
                font-size: 20px;
                color: white;
                border-radius: 30px;
                text-decoration: none;
                img
                {
                    color: white;
                    background-color: white;
                }
            }:hover
                {
                    background-color: $black;
                }
  
            .btn-Project--viewSide
            {
                margin: 5px;
                background-color: $red;
                padding: 10px 20px 10px 20px;
                font-size: 20px;
                color: white;
                border-radius: 30px;
                text-decoration: none;
                margin: 5px;
            }:hover
                {
                    background-color: $black;
                }
        }
    }

    #project-system__details
    {
        transition: all 1s ease; 
    }

    #project-system__details.ease
    {
        transition: all 1s ease; 
    }

    
    .project-system__image
    {
        float: right;
        width: 50%;
        padding: 0 30px 0 30px;
        text-align: center;
    }
}
