@import "../Imports/general";

.reachme
{
    background-color: $white;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    
    &:before, &:after
    {
      content: '';
      background: inherit;
      display: block;
      position: absolute;
      height: 20%;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform: skewY(5deg);
      transform-origin: 100% 0;
    }

    .nav__reach-me
    {
        padding-top: 50px;
        padding-bottom: 70px;
        padding-left: 100px; 
        
        .lbl__reach-me
        {
            
            font-size: 50px;
            font-weight: 800;
            color: $black;
            border-bottom: 5px solid  $red;

        }
    }

   
}

.reach-me__content 
{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    
    .reach-me__details
    {
        width: 50%;
        padding: 0 150px 0 30px;

        .main-content
        {
           margin-bottom: 60px; 
           font-size: 25px;
           text-align: justify;
           text-justify: inter-word;
        }

        .sub-content
        {
            margin-bottom: 10px;
            font-size: 25px;
        }
        
        .social-media
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            padding-top: 20px;
            cursor: pointer;
            
            .img-social-media-person
            {
                
                height: 200px;
                width: auto;
                padding: 10px;
                transition: 1s;
            }

            .img-social-media-person:hover
            {
                height: 225px;
                animation: shake 5s;
                animation-iteration-count: infinite;
            }
  
  
        }

        .img-social-media
        {
            height: 70px;
            width: 75px;
            padding: 5px 10px 5px 0;
        }

        .img-social-media:hover
        {
            padding: 5px 100px 5px 0;
        }

        .img-social-media .LinkedIn
        {
            transform: translate(50px, 100px);
        }

        
    }

    .reach-me__mail
    {
        width: 50%;
        font-size: 20px;
        padding: 0 150px 0 30px;
           
        h3
        {
            justify-content: center;
        }

        .img-ContactImage
        {
            height: 70px;
            margin-left: 0;
        }

        .input-design
        {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid $black;
            border-radius: 15px;
            box-sizing: border-box;
        }

        .textarea--enlarge
        {
            height: 100px;
        }

        input:focus, textarea:focus
        {
            outline: none;
            margin: 8px 0;
            display: inline-block;
            border: 2px solid $red;
            border-radius: 15px;
            box-sizing: border-box;
            transition: width 2s linear 1s;
        }

        .button-send
        {
            margin-top: 20px;
            a
            {
                margin: auto;
                background-color: $red;
                padding: 10px 35px 10px 35px;
                font-size: 20px;
                color: white;
                border-radius: 30px;
                text-decoration: none;
            }

            :hover
            {
                background-color: $black;
            }
        }
    }

}

//keyframe
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }