@import "../Imports/general";

.reachme
{
    background-color: $white;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    
    &:before, &:after
    {
      content: '';
      background: inherit;
      display: block;
      position: absolute;
      height: 20%;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform: skewY(5deg);
      transform-origin: 100% 0;
    }

    .nav__reach-me
    {
        padding-top: 50px;
        padding-bottom: 70px;
        padding-left: 100px; 
        
        .lbl__reach-me
        {
            
            font-size: 50px;
            font-weight: 800;
            color: $black;
            border-bottom: 5px solid  $red;

        }
    }

   
}

.reach-me__content 
{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    
    .reach-me__details
    {
        width: 50%;
        padding: 0 150px 0 30px;

        .main-content
        {
           margin-bottom: 60px; 
           font-size: 25px;
           text-align: justify;
           text-justify: inter-word;
        }

        .sub-content
        {
            margin-bottom: 10px;
            font-size: 25px;
        }

       

        .img-ctr
        {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 300px;
            border-radius: 50%;
            z-index: 1;
            overflow: hidden;
            background-color: black;
            cursor: pointer;
        }


        .card .img-social-media
        {
            padding: 0;
            position: absolute;
            z-index: 0;
            top: 35rem;
            left: 17rem;
            border-radius: 100%;
            width: 0;
            height: 0;
            transform: translate(-50%, -50%);
            transition: 0.5s cubic-bezier(0.25, 0, 0, 1);
            
        }  

        .img-social-media-person:hover img{
            height: 300px;
            opacity: 0.5;
        }

        .card .img-social-media button{
            display: grid;
            place-items: center;
            position: absolute;
            width: 4rem;
            height: 4rem;
            border: none;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: 0.3s cubic-bezier(0.25, 0, 0, 1);
            box-shadow: 0 0 1rem -0.25rem pink;

        }

        .card .img-social-media button:hover{
            background: white;
            color: red;
            box-shadow: 0 0 1rem -0.25rem pink;
        }

        .card .img-social-media button:nth-child(1),
        .card .img-social-media ~ *:nth-child(1){
            left: 90%;
            top: 50%;
        }
        .card .img-social-media button:nth-child(2),
        .card .img-social-media ~ *:nth-child(2){
            left: 80%;
            top: 78%;
        }
        .card .img-social-media button:nth-child(3),
        .card .img-social-media ~ *:nth-child(3){
            left: 55%;
            top: 95%;
        }

        .card:hover .img-social-media,
        .card .img-social-media:focus-within{
            width: 17rem;
            height: 17rem;
        }
        

    }

    .reach-me__mail
    {
        width: 50%;
        font-size: 20px;
        padding: 0 150px 0 30px;
           
        h3
        {
            justify-content: center;
        }

        .img-ContactImage
        {
            height: 70px;
            margin-left: 0;
        }

        .input-design
        {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid $black;
            border-radius: 15px;
            box-sizing: border-box;
        }

        .textarea--enlarge
        {
            height: 100px;
        }

        input:focus, textarea:focus
        {
            outline: none;
            margin: 8px 0;
            display: inline-block;
            border: 2px solid $red;
            border-radius: 15px;
            box-sizing: border-box;
            transition: width 2s linear 1s;
        }

        .button-send
        {
            margin-top: 20px;
            a
            {
                margin: auto;
                background-color: $red;
                padding: 10px 35px 10px 35px;
                font-size: 20px;
                color: white;
                border-radius: 30px;
                text-decoration: none;
            }

            :hover
            {
                background-color: $black;
            }
        }
    }

}

