@font-face {
    font-family: PoppinsRegular;
    src:url("./assets/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: PoppinsLight;
    src:url("./assets/Fonts/Poppins/Poppins-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: PoppinsThin;
    src:url("./assets/Fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: PoppinsBold;
    src:url("./assets/Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: PoppinsSemiBold;
    src:url("./assets/Fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  }